/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
*/

/* -------------------------------------------------------------------------- */
/*                            Components positions                            */
/* -------------------------------------------------------------------------- */
.vheight-100 {
  min-height: 100vh;
}

.below-nav {
  padding-top:4rem;
}
@media only screen and (min-width: 572.99px) and (max-width: 924.98px) {
  .below-nav{
      padding-top: 10rem;
  }
}
@media only screen and (min-width: 507.99px) and (max-width: 572.98px) {
  .below-nav{
      padding-top: 12rem;
  }
}
@media only screen and (max-width: 507.98px) {
  .below-nav{
      padding-top: 18rem;
  }
}

/* -------------------------------------------------------------------------- */
/*                            Toast customization                           */
/* -------------------------------------------------------------------------- */
.toast {
  position: absolute;
  top: 0;
  right: 0;
}

#toast-header{
  color: red;
}

/* -------------------------------------------------------------------------- */
/*                             Color customization                            */
/* -------------------------------------------------------------------------- */
.navigation-text{
  color: white;
} 

#lock-icon{
  fill: var(--warning);
}

#people-icon{
  fill: var(--success);
}

/* -------------------------------------------------------------------------- */
/*                             Meme customization                             */
/* -------------------------------------------------------------------------- */
.meme-container {
  position: relative;
  overflow: auto;
  /* display:block;
  margin:auto; */
}

.meme-image{
  height: 648px;
  /* max-height: 100%; */
}

.meme-image-card{
  /* width: 430px; */
  height: 324px;
  
  /* max-height: 324px; 
  max-width: 100%; */
  /*max-height: 100%;  */
}

/* -------------------------------------------------------------------------- */
/*                            Card customization                            */
/* -------------------------------------------------------------------------- */
.card{
  margin-top: 15px;
  margin-bottom: 15px;
}

.card-title{
  text-align: center;
  margin-top: .75rem;
}

.card-body{
  padding-top: 0;
}
/* .card-img{
  width: 100%;
  max-width: 250px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
} */

